@{
    ViewData["Title"] = "Submission Successful";
}



<h1 class="text-danger">Submission Complete</h1>
<h2 class="text-danger">Your information has successfully submitted.</h2>

<input type="button" value="Home" onclick="@("window.location.href='" + @Url.Action("Index", "Contacts") + "'");" />